export(SFRatio)
export(Sharpe.ratio)
export(bdy)
export(bdy2mmy)
export(candlestickChart)
export(coefficient.variation)
export(cogs)
export(date.breaks)
export(discount.rate)
export(ear)
export(ear.continuous)
export(ear2bey)
export(ear2hpr)
export(fv)
export(fv.annuity)
export(fv.simple)
export(fv.uneven)
export(geometric.mean)
export(get.ohlc.google)
export(get.ohlc.yahoo)
export(get.ohlcs.google)
export(get.ohlcs.yahoo)
export(harmonic.mean)
export(hpr)
export(hpr2bey)
export(hpr2ear)
export(hpr2mmy)
export(irr)
export(lineChart)
export(lineChartMult)
export(mmy2hpr)
export(n.period)
export(npv)
export(pmt)
export(pv)
export(pv.annuity)
export(pv.perpetuity)
export(pv.simple)
export(pv.uneven)
export(r.continuous)
export(r.norminal)
export(r.perpetuity)
export(sampling.error)
export(twrr)
export(volumeChart)
export(wpr)
