import(ggplot2)
import(reshape2)
import(RCurl)
import(scales)
export(EPS)
export(SFRatio)
export(Sharpe.ratio)
export(bdy)
export(bdy2mmy)
export(candlestickChart)
export(cash.ratio)
export(coefficient.variation)
export(cogs)
export(current.ratio)
export(date.breaks)
export(ddb)
export(debt.ratio)
export(diluted.EPS)
export(discount.rate)
export(ear)
export(ear.continuous)
export(ear2bey)
export(ear2hpr)
export(financial.leverage)
export(fv)
export(fv.annuity)
export(fv.simple)
export(fv.uneven)
export(geometric.mean)
export(get.ohlc.google)
export(get.ohlc.yahoo)
export(get.ohlcs.google)
export(get.ohlcs.yahoo)
export(gpm)
export(harmonic.mean)
export(hpr)
export(hpr2bey)
export(hpr2ear)
export(hpr2mmy)
export(irr)
export(iss)
export(lineChart)
export(lineChartMult)
export(lt.d2e)
export(mmy2hpr)
export(n.period)
export(npm)
export(npv)
export(pmt)
export(pv)
export(pv.annuity)
export(pv.perpetuity)
export(pv.simple)
export(pv.uneven)
export(quick.ratio)
export(r.continuous)
export(r.norminal)
export(r.perpetuity)
export(sampling.error)
export(slde)
export(total.d2e)
export(twrr)
export(volumeChart)
export(was)
export(wpr)
export(EIR)
